@import '../color.scss';

.social_icon{
    height: 40px;
}

.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.hero-content{
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    text-align: start !important;
}

.hero_image_box{
    img{
        width: 90%;
        // height: 50%;
    }
}

.social-media{
    display: flex;
    justify-content: start;
    gap: 10px;

    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: $main-color;
        border: .2rem solid $main-color;
        border-radius: 50%;
        font-size: 2rem;
        margin: 3rem 1.5rem 3rem 0;
        transition: .3s ease-in-out;

        &:hover{
            background: $main-color-faded;
            border: .2rem solid $main-color-faded;
        }
    }
}