@import './color.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
*::selection {
  background: $main-color;
  color: $bg-color;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: $bg-color;
  color: $text-color;
}
.section{
  min-height: 100vh;
  padding: 2rem 9% 2rem;
}
/* BREAKPOINTS */

// Buttons //

.btn-primary{
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: $main-color;
  box-shadow: 0 0 1rem $main-color;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: $second-bg-color;
  letter-spacing: .1rem;
  font-weight: 600;

  transition: 0.5s ease;

    &:hover{
      box-shadow: none;
    }
}


// TEXT FONTS //
.text-primary, .text-primary-gray{
  color: $text-color;
}